.user-form-wrapper.clearfix
  .col-md-offset-2.col-md-3
    .slideshow.clearfix
      %img.frame{src: "/placeholder/iphone6s_frame.png"} 
      .slide-photo

  .col-md-4
    .well.top
      .text-center
        %h1
          %img{src: "/placeholder/logo.png", width: "80%"}
        %hr

      = bootstrap_form_tag url: '/login' do |f|
        = f.text_field :username, hide_label: true, placeholder: "Username"
        = f.password_field :password, hide_label: true, placeholder: "Password"
        = f.submit "Log in", class: "btn btn-block btn-primary"    
    
    .well.bottom.text-center
      %p Don't have an account?
      = link_to "Sign up", signup_path