%ul
  - @follows.each do |user|
    %li.clearfix
      = link_to user do
        %img.small-img.img-circle(src="#{has_image?(user.avatar)}")
      .names
        = link_to user.username, user
        %small.text-muted #{user.full_name}
      .pull-right
        = render "follow_button", user: user
      