.user-form-wrapper.col-md-offset-3.col-md-6
  %section.edit-user
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#home"} Profile
      %li
        %a{"data-toggle" => "tab", :href => "#profile"} Password
    #myTabContent.tab-content
      #home.tab-pane.fade.active.in
        %section.user-show-wrapper.clearfix
          %header.profile
            = link_to "#", class: "user-info" do
              .media.pull-left
                %img.img-circle{src: "http://via.placeholder.com/175x175"}
              %span= @user.username
        .user-edit-form
          = bootstrap_form_tag url: "/users/#{@user.username}", method: 'patch', layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
            = f.text_field "user[full_name]", label: "Name", value: @user.full_name
            = f.text_field "user[username]", label: "Username", value: @user.username
            = f.text_field "user[website]",label: "Website", value: @user.website
            = f.text_area "user[bio]", label: "Bio", value: @user.bio
            = f.email_field "user[email]", label: "Email", value: @user.email
            = f.form_group do
              = f.submit "Submit", class: "btn btn-primary"
                              
      #profile.tab-pane.fade.active
        .user-edit-form
          = bootstrap_form_tag url: "/users/#{@user.username}", method: 'patch',  layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" do |f|
            = f.password_field "password[old_password]", label: "Old password"
            = f.password_field "password[new_password]", label: "New password"
            = f.password_field "password[confirm]", label: "Confirm new password"
            = f.form_group do
              = f.submit "Submit", class: "btn btn-primary"
            