.user-profile
  .media.profile-head
    .col-md-4.col-sm-4.col-xs-4.user-cover
      %img.img-circle.media-object{src: has_image?(@user.avatar)}
    .col-md-8.col-sm-8.col-xs-8.clearfix
      %h2.media-heading= @user.username
      - if @user == current_user
        = link_to "Edit profile", accounts_edit_path, class: "btn btn-default"
      - else
        - if logged_in?
          - follow = @follow ? "Follow" : "Following"
          = button_to follow, user_follows_path(@user, follow: true), class: (@follow ? "btn btn-primary" : "btn btn-default"), remote: true
        - else
          = link_to "Follow", login_path, class: "btn btn-primary"

    .user-status
      .lead.user-record
        %span  
          %strong= @user.posts.length 
          posts

        - if logged_in?
          %span
            = link_to "#" do
              %strong#follower
                #{@user.followers.length}
              %span
                followers
          %span 
            = link_to "#" do
              %strong#following
                #{@user.leaders.length} 
              %span
                followings

        - else
          %span 
            %strong= @user.followers.length
            followers
          %span 
            %strong= @user.leaders.length
            followings
      .lead.user-detail
        %p= @user.bio
        - if @user.website
          = link_to @user.website, display_website(@user.website), target: '_blank'

  .user-photos.clearfix
    - @user.posts.each do |post|
      %ul
        %li.col-md-4.col-sm-4.col-xs-4.no-padding.post-img-wrapper
          = link_to [@user, post] do
            .post-img{style: "background-image: url(#{post.image})"}