.user-form-wrapper.col-md-offset-4.col-md-4
  .well
    .text-center
      %h3 Add Post
      %hr
    = bootstrap_form_for [current_user, @post] do |f|
      = f.alert_message "Please fix the errors below."
      = f.file_field :image, help: "* Required"
      = f.text_field :location, hide_label: true, placeholder: "Location", help: "* Not required"
      = f.text_area :caption, hide_label: true, placeholder: "Caption", help: "* Required"
      = f.submit "Submit", class: "btn btn-block btn-primary"