.post-show
  %section.post-show-wrapper.clearfix{data: {id: @post.id}}
    %header.profile
      = link_to "#", class: "user-info" do
        .media.pull-left
          %img.img-circle{src: "http://via.placeholder.com/175x175"}
        %span 
          %strong= @post.user.username
    .user-photo
      %img{src: "#{@post.image}"}
    .comments{data: {type: "comments"}}
      %ul
        %li#caption
          = link_to @post.user.username, @post.user
          %span= @post.caption

        - @post.comments.each do |comment|
          %li
            = link_to comment.user.username, comment.user
            %span= mention(comment.description)

    .like
      %section.like-icon
        - if logged_in?
          = button_to like_user_post_path(@user, @post), remote: true do
            .glyphicon.glyphicon-heart
          = link_to "#", data: {type: "comment_icon", id: @post.id} do
            .glyphicon.glyphicon-comment
        - else
          = link_to login_path do
            .glyphicon.glyphicon-heart
          = link_to login_path do
            .glyphicon.glyphicon-comment
      %p 
        %strong
          1,234,567 likes
        %br
        %small.text-muted
          #{display_time(@post.created_at)}
    
    - if logged_in?
      = form_tag comment_user_post_path(current_user, @post), method: "post", remote: true, id: "comment-form" do
        .form-group
          = text_field_tag :description, nil, id: "comment-input", class: "form-control", placeholder: "Add a comment..."
          = submit_tag "Post", class: "btn btn-comment btn-link"
    - else
      = form_tag nil, id: "comment-form" do
        .form-group
          = link_to "Log in", login_path, class: "btn-comment"
          %span.text-muted to like or comment.
