%footer#mobile
  %ul
    %li.icon-list
      = link_to "#" do
        +
        = fa_icon "photo"
    %li.icon-list
      = link_to "#" do
        = fa_icon "user-o"
    %li.icon-list
      = link_to "#" do
        = fa_icon "heart"
    %li.icon-list
      = link_to "#" do
        = fa_icon "photo"